agibot/data/*
!agibot/data/H3_example/
agibot/data/H3_example/*
!agibot/data/H3_example/sim_cache/
!agibot/data/H3_example/sim_cache/**

sgae_file_process/source_data/
logs/rsl_rl/
outputs/
wandb/
__pycache__/
*.pyc
pretrain/
*.npz
*.mp4
